h1 {
  font-size: 70px;
  background: -webkit-linear-gradient(#eee, #212);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div {
    padding: 5px; 
}

img {
float: right;
}
