h1 {
  font-size: 70px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  float: right;
}

em,ol,ul,strong,p {
  font-size: 150%;
  list-style: none;
}
